PROJECTS/web/10CC-NODERED-FLOW.json
[
  {
    "id": "flow-10cc-pipeline",
    "type": "tab",
    "label": "10CC Pipeline",
    "disabled": false,
    "info": "INPUT → VALIDATION → THINKERS → DOERS → VERIFIER → MQTT → LEDGER → ESCALATION → COCKPIT → INGESTION → SYNTHESIS"
  },
  {
    "id": "mqtt-broker",
    "type": "mqtt-broker",
    "name": "NOIZYLAB MQTT",
    "broker": "mqtt://noizylab.local",
    "port": "1883",
    "clientid": "nodered-10cc",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true
  },
  {
    "id": "dashboard-group",
    "type": "ui_group",
    "name": "10CC Cockpit",
    "tab": "dashboard-tab",
    "order": 1,
    "disp": true,
    "width": "12"
  },
  {
    "id": "dashboard-tab",
    "type": "ui_tab",
    "name": "NOIZYLAB",
    "icon": "dashboard",
    "order": 1
  },
  {
    "id": "comment-header",
    "type": "comment",
    "z": "flow-10cc-pipeline",
    "name": "⚡ 10CC PIPELINE - 11 Stage Orchestration",
    "info": "Complete AI orchestration flow:\n1. INPUT\n2. VALIDATION\n3. THINKERS\n4. DOERS\n5. VERIFIER\n6. MQTT\n7. LEDGER\n8. ESCALATION\n9. COCKPIT\n10. INGESTION\n11. SYNTHESIS",
    "x": 250,
    "y": 40,
    "wires": []
  },
  {
    "id": "stage-1-input",
    "type": "http in",
    "z": "flow-10cc-pipeline",
    "name": "1. INPUT",
    "url": "/pipeline",
    "method": "post",
    "upload": false,
    "swaggerDoc": "",
    "x": 100,
    "y": 140,
    "wires": [["stage-2-validation"]]
  },
  {
    "id": "stage-2-validation",
    "type": "function",
    "z": "flow-10cc-pipeline",
    "name": "2. VALIDATION",
    "func": "// Stage 2: Validation\nconst startTime = Date.now();\nmsg.pipeline = {\n    id: msg._msgid,\n    stages: {},\n    startTime: startTime\n};\n\n// JWT Check\nconst auth = msg.req.headers.authorization || '';\nif (!auth.startsWith('Bearer ')) {\n    msg.statusCode = 401;\n    msg.payload = { error: 'Unauthorized', stage: 'validation' };\n    return [null, msg];\n}\n\n// Extract problem\nconst body = msg.payload || {};\nconst problem = body.problem || body.prompt || body.input;\n\nif (!problem) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'No problem provided', stage: 'validation' };\n    return [null, msg];\n}\n\n// Length check\nif (problem.length > 50000) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Problem too long (max 50KB)', stage: 'validation' };\n    return [null, msg];\n}\n\n// Rate limit check (simple)\nconst clientId = msg.req.headers['x-client-id'] || msg.req.ip || 'anonymous';\nconst rateKey = `rate:${clientId}`;\nconst rateCount = flow.get(rateKey) || 0;\n\nif (rateCount >= 30) {\n    msg.statusCode = 429;\n    msg.payload = { error: 'Rate limit exceeded', stage: 'validation' };\n    return [null, msg];\n}\n\nflow.set(rateKey, rateCount + 1);\nsetTimeout(() => flow.set(rateKey, Math.max(0, (flow.get(rateKey) || 1) - 1)), 60000);\n\n// Pass validation\nmsg.problem = problem;\nmsg.config = body.config || {};\nmsg.clientId = clientId;\nmsg.pipeline.stages.validation = { ms: Date.now() - startTime, passed: true };\n\nreturn [msg, null];",
    "outputs": 2,
    "timeout": "",
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 280,
    "y": 140,
    "wires": [["stage-3-thinkers"], ["http-error-response"]]
  },
  {
    "id": "stage-3-thinkers",
    "type": "function",
    "z": "flow-10cc-pipeline",
    "name": "3. THINKERS",
    "func": "// Stage 3: Thinkers - Prepare for parallel AI calls\nconst startTime = Date.now();\n\n// Prepare thinker requests\nmsg.thinkers = [\n    { id: 'opus', name: 'Claude Opus', model: 'claude-3-opus-20240229' },\n    { id: 'gemini', name: 'Gemini Pro', model: 'gemini-1.5-pro' }\n];\n\nmsg.thinkerPrompt = {\n    system: 'You are a strategic THINKER. Analyze the problem and create a clear, actionable plan.',\n    user: msg.problem\n};\n\nmsg.pipeline.stages.thinkers = { start: startTime };\n\n// Emit to MQTT for thinkers\nmsg.topic = 'noizylab/room/10cc/thinkers';\nmsg.mqttPayload = {\n    pipeline_id: msg.pipeline.id,\n    problem: msg.problem,\n    thinkers: msg.thinkers,\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "x": 460,
    "y": 140,
    "wires": [["mqtt-thinkers", "thinker-opus", "thinker-gemini"]]
  },
  {
    "id": "mqtt-thinkers",
    "type": "mqtt out",
    "z": "flow-10cc-pipeline",
    "name": "MQTT: Thinkers",
    "topic": "noizylab/room/10cc/thinkers",
    "qos": "1",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "mqtt-broker",
    "x": 640,
    "y": 80,
    "wires": []
  },
  {
    "id": "thinker-opus",
    "type": "http request",
    "z": "flow-10cc-pipeline",
    "name": "Opus Think",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://api.anthropic.com/v1/messages",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 630,
    "y": 140,
    "wires": [["join-thinkers"]]
  },
  {
    "id": "thinker-gemini",
    "type": "http request",
    "z": "flow-10cc-pipeline",
    "name": "Gemini Think",
    "method": "POST",
    "ret": "obj",
    "paytoqs": "ignore",
    "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-pro:generateContent",
    "tls": "",
    "persist": false,
    "proxy": "",
    "x": 640,
    "y": 200,
    "wires": [["join-thinkers"]]
  },
  {
    "id": "join-thinkers",
    "type": "join",
    "z": "flow-10cc-pipeline",
    "name": "Join Thinkers",
    "mode": "custom",
    "build": "array",
    "property": "payload",
    "propertyType": "msg",
    "key": "topic",
    "joiner": "\\n",
    "joinerType": "str",
    "accumulate": false,
    "timeout": "30",
    "count": "2",
    "reduceRight": false,
    "reduceExp": "",
    "reduceInit": "",
    "reduceInitType": "",
    "reduceFixup": "",
    "x": 820,
    "y": 140,
    "wires": [["synthesize-plan"]]
  },
  {
    "id": "synthesize-plan",
    "type": "function",
    "z": "flow-10cc-pipeline",
    "name": "Synthesize Plan",
    "func": "// Synthesize thinker outputs into unified plan\nconst results = msg.payload || [];\nconst plans = [];\n\nfor (const result of results) {\n    if (result && result.content) {\n        // Claude format\n        plans.push(result.content[0]?.text || '');\n    } else if (result && result.candidates) {\n        // Gemini format\n        plans.push(result.candidates[0]?.content?.parts?.[0]?.text || '');\n    }\n}\n\nmsg.synthesizedPlan = plans.filter(p => p).join('\\n\\n---NEXT THINKER---\\n\\n') || 'No plans generated';\nmsg.pipeline.stages.thinkers.ms = Date.now() - msg.pipeline.stages.thinkers.start;\nmsg.pipeline.stages.thinkers.count = plans.length;\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "x": 1000,
    "y": 140,
    "wires": [["stage-4-doers"]]
  },
  {
    "id": "stage-4-doers",
    "type": "function",
    "z": "flow-10cc-pipeline",
    "name": "4. DOERS",
    "func": "// Stage 4: Doers - Execute the plan\nconst startTime = Date.now();\nmsg.pipeline.stages.doers = { start: startTime };\n\nmsg.topic = 'noizylab/room/10cc/doers';\nmsg.doerPayload = {\n    pipeline_id: msg.pipeline.id,\n    problem: msg.problem,\n    plan: msg.synthesizedPlan,\n    doer: 'haiku',\n    timestamp: new Date().toISOString()\n};\n\n// Prepare Haiku request\nmsg.headers = {\n    'x-api-key': env.get('ANTHROPIC_API_KEY'),\n    'anthropic-version': '2023-06-01',\n    'Content-Type': 'application/json'\n};\n\nmsg.payload = {\n    model: 'claude-3-5-haiku-20241022',\n    max_tokens: 2500,\n    system: 'You are an expert EXECUTOR. Implement the solution based on the plan. Be precise and complete.',\n    messages: [{\n        role: 'user',\n        content: `PROBLEM:\\n${msg.problem}\\n\\nPLAN:\\n${msg.synthesizedPlan}\\n\\nExecute now.`\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "x": 100,
    "y": 280,
    "wires": [["mqtt-doers", "doer-haiku"]]
  },
  {
    "id": "mqtt-doers",
    "type": "mqtt out",
    "z": "flow-10cc-pipeline",
    "name": "MQTT: Doers",
    "topic": "noizylab/room/10cc/doers",
    "qos": "1",
    "retain": "",
    "broker": "mqtt-broker",
    "x": 270,
    "y": 220,
    "wires": []
  },
  {
    "id": "doer-haiku",
    "type": "http request",
    "z": "flow-10cc-pipeline",
    "name": "Haiku Execute",
    "method": "POST",
    "ret": "obj",
    "url": "https://api.anthropic.com/v1/messages",
    "x": 280,
    "y": 280,
    "wires": [["extract-doer-output"]]
  },
  {
    "id": "extract-doer-output",
    "type": "function",
    "z": "flow-10cc-pipeline",
    "name": "Extract Output",
    "func": "// Extract doer output\nmsg.doerOutput = msg.payload?.content?.[0]?.text || 'No output generated';\nmsg.pipeline.stages.doers.ms = Date.now() - msg.pipeline.stages.doers.start;\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "x": 460,
    "y": 280,
    "wires": [["stage-5-verifier"]]
  },
  {
    "id": "stage-5-verifier",
    "type": "function",
    "z": "flow-10cc-pipeline",
    "name": "5. VERIFIER",
    "func": "// Stage 5: Verifier - Rate the output 1-10\nconst startTime = Date.now();\nmsg.pipeline.stages.verifier = { start: startTime };\n\nmsg.headers = {\n    'x-api-key': env.get('ANTHROPIC_API_KEY'),\n    'anthropic-version': '2023-06-01',\n    'Content-Type': 'application/json'\n};\n\nmsg.payload = {\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 800,\n    system: 'You are a quality VERIFIER. Review the work and rate it 1-10. Output JSON: {\"score\": N, \"issues\": [], \"approved\": bool}',\n    messages: [{\n        role: 'user',\n        content: `PLAN:\\n${(msg.synthesizedPlan || '').slice(0, 1000)}\\n\\nWORK:\\n${(msg.doerOutput || '').slice(0, 3000)}`\n    }]\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "x": 640,
    "y": 280,
    "wires": [["verifier-sonnet"]]
  },
  {
    "id": "verifier-sonnet",
    "type": "http request",
    "z": "flow-10cc-pipeline",
    "name": "Sonnet Verify",
    "method": "POST",
    "ret": "obj",
    "url": "https://api.anthropic.com/v1/messages",
    "x": 820,
    "y": 280,
    "wires": [["extract-score"]]
  },
  {
    "id": "extract-score",
    "type": "function",
    "z": "flow-10cc-pipeline",
    "name": "Extract Score",
    "func": "// Extract quality score from verifier\nconst verdict = msg.payload?.content?.[0]?.text || '';\nmsg.verdict = verdict;\n\n// Parse score\nconst match = verdict.match(/(\\d+)\\s*\\/?\\s*10|\"score\"\\s*:\\s*(\\d+)|score[:\\s]+(\\d+)/i);\nmsg.qualityScore = match ? parseInt(match[1] || match[2] || match[3]) : null;\n\nmsg.pipeline.stages.verifier.ms = Date.now() - msg.pipeline.stages.verifier.start;\nmsg.pipeline.stages.verifier.score = msg.qualityScore;\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "x": 990,
    "y": 280,
    "wires": [["stage-6-mqtt"]]
  },
  {
    "id": "stage-6-mqtt",
    "type": "function",
    "z": "flow-10cc-pipeline",
    "name": "6. MQTT Publish",
    "func": "// Stage 6: MQTT - Publish results\nconst startTime = Date.now();\n\nmsg.topic = 'noizylab/pipeline/' + msg.pipeline.id;\nmsg.mqttResult = {\n    pipeline_id: msg.pipeline.id,\n    event: 'pipeline_complete',\n    score: msg.qualityScore,\n    output_preview: (msg.doerOutput || '').slice(0, 200),\n    timestamp: new Date().toISOString()\n};\n\nmsg.pipeline.stages.mqtt = { ms: Date.now() - startTime };\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "x": 100,
    "y": 420,
    "wires": [["mqtt-result", "stage-7-ledger"]]
  },
  {
    "id": "mqtt-result",
    "type": "mqtt out",
    "z": "flow-10cc-pipeline",
    "name": "MQTT: Result",
    "topic": "",
    "qos": "1",
    "retain": "",
    "broker": "mqtt-broker",
    "x": 270,
    "y": 360,
    "wires": []
  },
  {
    "id": "stage-7-ledger",
    "type": "function",
    "z": "flow-10cc-pipeline",
    "name": "7. LEDGER",
    "func": "// Stage 7: Ledger - Append to immutable log\nconst startTime = Date.now();\nconst crypto = global.get('crypto') || { randomUUID: () => Date.now().toString() };\n\nmsg.ledgerEntry = {\n    id: `ledger:${Date.now()}:${msg.pipeline.id.slice(0, 8)}`,\n    pipeline_id: msg.pipeline.id,\n    event: 'PIPELINE_COMPLETE',\n    data: {\n        problem_preview: (msg.problem || '').slice(0, 100),\n        score: msg.qualityScore,\n        total_ms: Date.now() - msg.pipeline.startTime,\n        client_id: msg.clientId\n    },\n    timestamp: new Date().toISOString(),\n    // HMAC signature placeholder - implement with real secret\n    signature: 'hmac-' + Date.now().toString(16)\n};\n\nmsg.payload = JSON.stringify(msg.ledgerEntry);\nmsg.pipeline.stages.ledger = { ms: Date.now() - startTime, entry_id: msg.ledgerEntry.id };\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "x": 270,
    "y": 420,
    "wires": [["ledger-file", "stage-8-escalation"]]
  },
  {
    "id": "ledger-file",
    "type": "file",
    "z": "flow-10cc-pipeline",
    "name": "Append Ledger",
    "filename": "/var/log/noizylab/ledger.jsonl",
    "filenameType": "str",
    "appendNewline": true,
    "createDir": true,
    "overwriteFile": "false",
    "encoding": "utf8",
    "x": 440,
    "y": 360,
    "wires": [[]]
  },
  {
    "id": "stage-8-escalation",
    "type": "function",
    "z": "flow-10cc-pipeline",
    "name": "8. ESCALATION",
    "func": "// Stage 8: Escalation - Evaluate and route\nconst startTime = Date.now();\nconst score = msg.qualityScore;\n\nlet escalation = { level: 'none', action: 'continue' };\n\nif (score === null) {\n    escalation = { level: 'moderate', action: 'log', reason: 'Could not determine score' };\n} else if (score >= 8) {\n    escalation = { level: 'none', action: 'continue' };\n} else if (score >= 6) {\n    escalation = { level: 'minor', action: 'auto_remediate', reason: 'Below optimal' };\n} else if (score >= 4) {\n    escalation = { level: 'moderate', action: 'log_and_continue', reason: 'Quality concerns' };\n} else if (score >= 2) {\n    escalation = { level: 'critical', action: 'human_review', reason: 'Significant issues' };\n} else {\n    escalation = { level: 'existential', action: 'halt', reason: 'Critical failure' };\n}\n\nmsg.escalation = escalation;\nmsg.pipeline.stages.escalation = { ms: Date.now() - startTime, level: escalation.level };\n\n// Route based on escalation level\nif (escalation.level === 'none' || escalation.level === 'minor') {\n    return [msg, null, null]; // Continue\n} else if (escalation.level === 'moderate') {\n    return [msg, msg, null]; // Log + continue\n} else {\n    return [msg, null, msg]; // Human review / halt\n}",
    "outputs": 3,
    "timeout": "",
    "noerr": 0,
    "x": 460,
    "y": 420,
    "wires": [["stage-9-cockpit"], ["mqtt-escalation-auto"], ["mqtt-escalation-human"]]
  },
  {
    "id": "mqtt-escalation-auto",
    "type": "mqtt out",
    "z": "flow-10cc-pipeline",
    "name": "Auto Remediation",
    "topic": "noizylab/escalation/auto",
    "qos": "1",
    "broker": "mqtt-broker",
    "x": 670,
    "y": 380,
    "wires": []
  },
  {
    "id": "mqtt-escalation-human",
    "type": "mqtt out",
    "z": "flow-10cc-pipeline",
    "name": "Human Oversight",
    "topic": "noizylab/escalation/human",
    "qos": "1",
    "broker": "mqtt-broker",
    "x": 670,
    "y": 460,
    "wires": []
  },
  {
    "id": "stage-9-cockpit",
    "type": "function",
    "z": "flow-10cc-pipeline",
    "name": "9. COCKPIT",
    "func": "// Stage 9: Cockpit - Update dashboard\nconst startTime = Date.now();\n\nmsg.cockpitUpdate = {\n    pipeline_id: msg.pipeline.id,\n    status: msg.escalation.level === 'existential' ? 'HALTED' : 'COMPLETE',\n    score: msg.qualityScore,\n    escalation: msg.escalation.level,\n    timestamp: new Date().toISOString()\n};\n\n// Update daily stats in flow context\nconst today = new Date().toISOString().split('T')[0];\nlet stats = flow.get('stats:' + today) || { runs: 0, total_score: 0, avg_score: 0 };\nstats.runs++;\nstats.total_score += msg.qualityScore || 0;\nstats.avg_score = stats.total_score / stats.runs;\nflow.set('stats:' + today, stats);\n\nmsg.pipeline.stages.cockpit = { ms: Date.now() - startTime };\nmsg.payload = msg.cockpitUpdate;\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "x": 100,
    "y": 560,
    "wires": [["cockpit-dashboard", "mqtt-cockpit", "stage-10-ingestion"]]
  },
  {
    "id": "cockpit-dashboard",
    "type": "ui_text",
    "z": "flow-10cc-pipeline",
    "group": "dashboard-group",
    "order": 1,
    "width": 6,
    "height": 1,
    "name": "Pipeline Status",
    "label": "Last Pipeline",
    "format": "{{msg.payload.pipeline_id}} - Score: {{msg.payload.score}}/10 - {{msg.payload.status}}",
    "layout": "row-spread",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#ffffff",
    "x": 280,
    "y": 500,
    "wires": []
  },
  {
    "id": "mqtt-cockpit",
    "type": "mqtt out",
    "z": "flow-10cc-pipeline",
    "name": "MQTT: Cockpit",
    "topic": "noizylab/cockpit/status",
    "qos": "1",
    "broker": "mqtt-broker",
    "x": 280,
    "y": 620,
    "wires": []
  },
  {
    "id": "stage-10-ingestion",
    "type": "function",
    "z": "flow-10cc-pipeline",
    "name": "10. INGESTION",
    "func": "// Stage 10: Universal Ingestion - Feed knowledge layer\nconst startTime = Date.now();\n\n// Extract tags from problem\nconst keywords = ['code', 'python', 'javascript', 'api', 'database', 'design', 'bug', 'fix', 'create', 'build'];\nconst tags = keywords.filter(k => (msg.problem || '').toLowerCase().includes(k));\n\nmsg.ingestionData = {\n    type: 'pipeline_result',\n    pipeline_id: msg.pipeline.id,\n    score: msg.qualityScore,\n    tags: tags,\n    problem_length: (msg.problem || '').length,\n    output_length: (msg.doerOutput || '').length,\n    thinkers_used: ['opus', 'gemini'],\n    doer_used: 'haiku',\n    timestamp: new Date().toISOString()\n};\n\nmsg.pipeline.stages.ingestion = { ms: Date.now() - startTime, tags: tags };\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "x": 460,
    "y": 560,
    "wires": [["mqtt-ingestion", "stage-11-synthesis"]]
  },
  {
    "id": "mqtt-ingestion",
    "type": "mqtt out",
    "z": "flow-10cc-pipeline",
    "name": "MQTT: Knowledge",
    "topic": "noizylab/knowledge/ingest",
    "qos": "1",
    "broker": "mqtt-broker",
    "x": 670,
    "y": 500,
    "wires": []
  },
  {
    "id": "stage-11-synthesis",
    "type": "function",
    "z": "flow-10cc-pipeline",
    "name": "11. SYNTHESIS",
    "func": "// Stage 11: Synthesis - Final combined output\nconst totalMs = Date.now() - msg.pipeline.startTime;\nmsg.pipeline.stages.synthesis = { ms: 1 };\n\nmsg.payload = {\n    pipeline_id: msg.pipeline.id,\n    status: msg.escalation.level === 'existential' ? 'HALTED' : 'SUCCESS',\n    \n    // Core output\n    output: msg.doerOutput,\n    quality_score: msg.qualityScore,\n    \n    // Metadata\n    thinkers_consulted: 2,\n    total_ms: totalMs,\n    \n    // Escalation\n    escalation: msg.escalation.level !== 'none' ? msg.escalation : null,\n    \n    // Trace (if requested)\n    trace: msg.config.include_trace ? msg.pipeline : undefined,\n    \n    // References\n    ledger_entry: msg.ledgerEntry?.id,\n    mqtt_topic: 'noizylab/pipeline/' + msg.pipeline.id\n};\n\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "x": 660,
    "y": 560,
    "wires": [["http-response", "mqtt-synthesis"]]
  },
  {
    "id": "http-response",
    "type": "http response",
    "z": "flow-10cc-pipeline",
    "name": "Response",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json",
      "Access-Control-Allow-Origin": "*"
    },
    "x": 840,
    "y": 560,
    "wires": []
  },
  {
    "id": "mqtt-synthesis",
    "type": "mqtt out",
    "z": "flow-10cc-pipeline",
    "name": "MQTT: Final",
    "topic": "noizylab/pipeline/synthesis",
    "qos": "1",
    "broker": "mqtt-broker",
    "x": 850,
    "y": 620,
    "wires": []
  },
  {
    "id": "http-error-response",
    "type": "http response",
    "z": "flow-10cc-pipeline",
    "name": "Error Response",
    "statusCode": "",
    "headers": {
      "Content-Type": "application/json"
    },
    "x": 480,
    "y": 80,
    "wires": []
  },
  {
    "id": "comment-flow",
    "type": "comment",
    "z": "flow-10cc-pipeline",
    "name": "═══ MQTT Topics ═══",
    "info": "noizylab/room/10cc/thinkers\nnoisylab/room/10cc/doers\nnoisylab/pipeline/{id}\nnoisylab/escalation/auto\nnoisylab/escalation/human\nnoisylab/cockpit/status\nnoisylab/knowledge/ingest\nnoisylab/pipeline/synthesis",
    "x": 120,
    "y": 680,
    "wires": []
  },
  {
    "id": "health-endpoint",
    "type": "http in",
    "z": "flow-10cc-pipeline",
    "name": "Health Check",
    "url": "/health",
    "method": "get",
    "x": 110,
    "y": 760,
    "wires": [["health-response"]]
  },
  {
    "id": "health-response",
    "type": "function",
    "z": "flow-10cc-pipeline",
    "name": "Health Status",
    "func": "msg.payload = {\n    ok: true,\n    service: '10CC-PIPELINE-NODERED',\n    version: '2.0',\n    stages: 11,\n    mqtt_broker: 'mqtt://noizylab.local',\n    timestamp: new Date().toISOString()\n};\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "x": 290,
    "y": 760,
    "wires": [["health-http-out"]]
  },
  {
    "id": "health-http-out",
    "type": "http response",
    "z": "flow-10cc-pipeline",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 470,
    "y": 760,
    "wires": []
  },
  {
    "id": "ledger-endpoint",
    "type": "http in",
    "z": "flow-10cc-pipeline",
    "name": "Ledger Query",
    "url": "/ledger",
    "method": "get",
    "x": 110,
    "y": 820,
    "wires": [["ledger-read"]]
  },
  {
    "id": "ledger-read",
    "type": "file in",
    "z": "flow-10cc-pipeline",
    "name": "Read Ledger",
    "filename": "/var/log/noizylab/ledger.jsonl",
    "filenameType": "str",
    "format": "utf8",
    "chunk": false,
    "sendError": false,
    "encoding": "utf8",
    "allProps": false,
    "x": 290,
    "y": 820,
    "wires": [["ledger-parse"]]
  },
  {
    "id": "ledger-parse",
    "type": "function",
    "z": "flow-10cc-pipeline",
    "name": "Parse Ledger",
    "func": "const lines = (msg.payload || '').trim().split('\\n').filter(l => l);\nconst entries = lines.slice(-50).map(line => {\n    try { return JSON.parse(line); }\n    catch { return null; }\n}).filter(e => e);\n\nmsg.payload = {\n    count: entries.length,\n    entries: entries\n};\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "x": 470,
    "y": 820,
    "wires": [["ledger-http-out"]]
  },
  {
    "id": "ledger-http-out",
    "type": "http response",
    "z": "flow-10cc-pipeline",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 630,
    "y": 820,
    "wires": []
  },
  {
    "id": "stats-endpoint",
    "type": "http in",
    "z": "flow-10cc-pipeline",
    "name": "Stats Query",
    "url": "/status",
    "method": "get",
    "x": 110,
    "y": 880,
    "wires": [["stats-response"]]
  },
  {
    "id": "stats-response",
    "type": "function",
    "z": "flow-10cc-pipeline",
    "name": "Stats Response",
    "func": "const today = new Date().toISOString().split('T')[0];\nconst stats = flow.get('stats:' + today) || { runs: 0, avg_score: 0 };\n\nmsg.payload = {\n    date: today,\n    runs: stats.runs,\n    avg_score: Math.round(stats.avg_score * 10) / 10,\n    timestamp: new Date().toISOString()\n};\nmsg.statusCode = 200;\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "x": 300,
    "y": 880,
    "wires": [["stats-http-out"]]
  },
  {
    "id": "stats-http-out",
    "type": "http response",
    "z": "flow-10cc-pipeline",
    "name": "",
    "statusCode": "",
    "headers": {},
    "x": 470,
    "y": 880,
    "wires": []
  },
  {
    "id": "emergency-stop",
    "type": "mqtt in",
    "z": "flow-10cc-pipeline",
    "name": "Emergency Stop",
    "topic": "noizylab/cockpit/emergency",
    "qos": "2",
    "datatype": "auto",
    "broker": "mqtt-broker",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 120,
    "y": 960,
    "wires": [["halt-all"]]
  },
  {
    "id": "halt-all",
    "type": "function",
    "z": "flow-10cc-pipeline",
    "name": "HALT ALL",
    "func": "// Emergency stop - halt all processing\nnode.warn('⚠️ EMERGENCY STOP TRIGGERED');\n\n// Set global halt flag\nglobal.set('pipeline_halt', true);\n\n// Clear after 60 seconds\nsetTimeout(() => global.set('pipeline_halt', false), 60000);\n\nmsg.payload = {\n    event: 'EMERGENCY_HALT',\n    timestamp: new Date().toISOString(),\n    duration_seconds: 60\n};\n\nreturn msg;",
    "outputs": 1,
    "timeout": "",
    "noerr": 0,
    "x": 300,
    "y": 960,
    "wires": [["mqtt-halt-confirm"]]
  },
  {
    "id": "mqtt-halt-confirm",
    "type": "mqtt out",
    "z": "flow-10cc-pipeline",
    "name": "Confirm Halt",
    "topic": "noizylab/cockpit/halt_confirmed",
    "qos": "1",
    "broker": "mqtt-broker",
    "x": 490,
    "y": 960,
    "wires": []
  }
]
