Audio_Registry/integrations/nodered_flows.json
[
    {
        "id": "audio-catalog-flow-tab",
        "type": "tab",
        "label": "Audio Catalog",
        "disabled": false,
        "info": "THE LIBRARIAN - Audio Canon automation flows\nFish Music Inc. / MissionControl96 / NOIZYLAB"
    },
    {
        "id": "comment-header",
        "type": "comment",
        "z": "audio-catalog-flow-tab",
        "name": "THE LIBRARIAN - Audio Canon Flows",
        "info": "Automation flows for Audio Registry management:\n- Monthly audit scheduling\n- Health monitoring\n- Export generation\n- Backup management\n- Dashboard data feeds",
        "x": 200,
        "y": 40,
        "wires": []
    },
    {
        "id": "monthly-audit-inject",
        "type": "inject",
        "z": "audio-catalog-flow-tab",
        "name": "Monthly Trigger (1st @ 3AM)",
        "props": [
            {"p": "payload"},
            {"p": "topic", "vt": "str"}
        ],
        "repeat": "",
        "crontab": "0 3 1 * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "monthly-audit",
        "payload": "",
        "payloadType": "date",
        "x": 180,
        "y": 140,
        "wires": [["run-audit-exec"]]
    },
    {
        "id": "manual-audit-inject",
        "type": "inject",
        "z": "audio-catalog-flow-tab",
        "name": "Manual Audit",
        "props": [
            {"p": "payload"},
            {"p": "topic", "vt": "str"}
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "topic": "manual-audit",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 200,
        "wires": [["run-audit-exec"]]
    },
    {
        "id": "run-audit-exec",
        "type": "exec",
        "z": "audio-catalog-flow-tab",
        "command": "cd /path/to/Audio_Registry && python3 tools/audit/run_audit.py --json data/audit.json",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "60",
        "winHide": false,
        "oldrc": false,
        "name": "Run Audit Script",
        "x": 430,
        "y": 160,
        "wires": [["audit-complete-switch"], ["audit-error-handler"], ["audit-exit-code"]]
    },
    {
        "id": "audit-complete-switch",
        "type": "switch",
        "z": "audio-catalog-flow-tab",
        "name": "Check Success",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {"t": "cont", "v": "complete", "vt": "str"},
            {"t": "else"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 140,
        "wires": [["audit-success-notify", "read-audit-results"], ["audit-failure-notify"]]
    },
    {
        "id": "audit-success-notify",
        "type": "function",
        "z": "audio-catalog-flow-tab",
        "name": "Format Success Message",
        "func": "msg.payload = {\n    title: 'Audio Catalog Audit Complete',\n    message: `Monthly audit finished at ${new Date().toISOString()}`,\n    type: 'success'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 100,
        "wires": [["send-notification"]]
    },
    {
        "id": "audit-failure-notify",
        "type": "function",
        "z": "audio-catalog-flow-tab",
        "name": "Format Failure Message",
        "func": "msg.payload = {\n    title: 'Audio Catalog Audit Failed',\n    message: `Audit failed: ${msg.payload}`,\n    type: 'error'\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 870,
        "y": 180,
        "wires": [["send-notification"]]
    },
    {
        "id": "read-audit-results",
        "type": "file in",
        "z": "audio-catalog-flow-tab",
        "name": "Read audit.json",
        "filename": "/path/to/Audio_Registry/data/audit.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "allProps": false,
        "x": 870,
        "y": 140,
        "wires": [["parse-audit-json"]]
    },
    {
        "id": "parse-audit-json",
        "type": "json",
        "z": "audio-catalog-flow-tab",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 1050,
        "y": 140,
        "wires": [["check-health-score"]]
    },
    {
        "id": "check-health-score",
        "type": "switch",
        "z": "audio-catalog-flow-tab",
        "name": "Check Health",
        "property": "payload.health.health_score",
        "propertyType": "msg",
        "rules": [
            {"t": "gte", "v": "80", "vt": "num"},
            {"t": "gte", "v": "60", "vt": "num"},
            {"t": "lt", "v": "60", "vt": "num"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1210,
        "y": 140,
        "wires": [["health-good"], ["health-warning"], ["health-critical"]]
    },
    {
        "id": "health-good",
        "type": "debug",
        "z": "audio-catalog-flow-tab",
        "name": "Health Good (80+)",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.health.health_score",
        "targetType": "msg",
        "statusVal": "payload.health.health_score",
        "statusType": "auto",
        "x": 1420,
        "y": 100,
        "wires": []
    },
    {
        "id": "health-warning",
        "type": "function",
        "z": "audio-catalog-flow-tab",
        "name": "Health Warning Alert",
        "func": "msg.payload = {\n    title: 'Audio Catalog Health Warning',\n    message: `Health score: ${msg.payload.health.health_score}%. Needs attention.`,\n    type: 'warning'\n};\nreturn msg;",
        "outputs": 1,
        "x": 1440,
        "y": 140,
        "wires": [["send-notification"]]
    },
    {
        "id": "health-critical",
        "type": "function",
        "z": "audio-catalog-flow-tab",
        "name": "Health Critical Alert",
        "func": "msg.payload = {\n    title: 'Audio Catalog Health CRITICAL',\n    message: `Health score: ${msg.payload.health.health_score}%. Immediate action required!`,\n    type: 'critical'\n};\nreturn msg;",
        "outputs": 1,
        "x": 1440,
        "y": 180,
        "wires": [["send-notification"]]
    },
    {
        "id": "send-notification",
        "type": "function",
        "z": "audio-catalog-flow-tab",
        "name": "Send Notification",
        "func": "// Configure your notification service here\n// Options: Pushover, Telegram, Email, etc.\n\nnode.status({fill: 'green', shape: 'dot', text: msg.payload.title});\nreturn msg;",
        "outputs": 1,
        "x": 1150,
        "y": 260,
        "wires": [["notification-output"]]
    },
    {
        "id": "notification-output",
        "type": "debug",
        "z": "audio-catalog-flow-tab",
        "name": "Notification Log",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1350,
        "y": 260,
        "wires": []
    },
    {
        "id": "export-inject",
        "type": "inject",
        "z": "audio-catalog-flow-tab",
        "name": "Weekly Export (Sun @ 4AM)",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "0 4 * * 0",
        "once": false,
        "topic": "weekly-export",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 340,
        "wires": [["run-export-exec"]]
    },
    {
        "id": "run-export-exec",
        "type": "exec",
        "z": "audio-catalog-flow-tab",
        "command": "cd /path/to/Audio_Registry && python3 tools/export/export_index.py --format all",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "120",
        "name": "Run Export Script",
        "x": 450,
        "y": 340,
        "wires": [["export-success"], [], []]
    },
    {
        "id": "export-success",
        "type": "debug",
        "z": "audio-catalog-flow-tab",
        "name": "Export Complete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 670,
        "y": 340,
        "wires": []
    },
    {
        "id": "backup-inject",
        "type": "inject",
        "z": "audio-catalog-flow-tab",
        "name": "Daily Backup (2AM)",
        "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}],
        "repeat": "",
        "crontab": "0 2 * * *",
        "once": false,
        "topic": "daily-backup",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 440,
        "wires": [["backup-exec"]]
    },
    {
        "id": "backup-exec",
        "type": "exec",
        "z": "audio-catalog-flow-tab",
        "command": "cd /path/to/Audio_Registry && tar -czf /backups/audio_catalog_$(date +%Y%m%d_%H%M%S).tar.gz data/ manifests/",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "60",
        "name": "Create Backup",
        "x": 420,
        "y": 440,
        "wires": [["backup-success"], ["backup-error"], []]
    },
    {
        "id": "backup-success",
        "type": "debug",
        "z": "audio-catalog-flow-tab",
        "name": "Backup Complete",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "x": 670,
        "y": 420,
        "wires": []
    },
    {
        "id": "backup-error",
        "type": "function",
        "z": "audio-catalog-flow-tab",
        "name": "Backup Error Alert",
        "func": "msg.payload = {\n    title: 'Audio Catalog Backup Failed',\n    message: `Backup failed: ${msg.payload}`,\n    type: 'error'\n};\nreturn msg;",
        "outputs": 1,
        "x": 670,
        "y": 460,
        "wires": [["send-notification"]]
    },
    {
        "id": "http-api-in",
        "type": "http in",
        "z": "audio-catalog-flow-tab",
        "name": "GET /api/audio-catalog",
        "url": "/api/audio-catalog",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 560,
        "wires": [["read-index-json"]]
    },
    {
        "id": "read-index-json",
        "type": "file in",
        "z": "audio-catalog-flow-tab",
        "name": "Read index.json",
        "filename": "/path/to/Audio_Registry/data/index.json",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "utf8",
        "x": 420,
        "y": 560,
        "wires": [["http-response"]]
    },
    {
        "id": "http-response",
        "type": "http response",
        "z": "audio-catalog-flow-tab",
        "name": "JSON Response",
        "statusCode": "200",
        "headers": {"Content-Type": "application/json"},
        "x": 620,
        "y": 560,
        "wires": []
    },
    {
        "id": "http-audit-in",
        "type": "http in",
        "z": "audio-catalog-flow-tab",
        "name": "GET /api/audio-catalog/audit",
        "url": "/api/audio-catalog/audit",
        "method": "get",
        "upload": false,
        "x": 190,
        "y": 620,
        "wires": [["read-audit-file"]]
    },
    {
        "id": "read-audit-file",
        "type": "file in",
        "z": "audio-catalog-flow-tab",
        "name": "Read audit.json",
        "filename": "/path/to/Audio_Registry/data/audit.json",
        "format": "utf8",
        "chunk": false,
        "x": 440,
        "y": 620,
        "wires": [["http-audit-response"]]
    },
    {
        "id": "http-audit-response",
        "type": "http response",
        "z": "audio-catalog-flow-tab",
        "name": "Audit Response",
        "statusCode": "200",
        "headers": {"Content-Type": "application/json"},
        "x": 640,
        "y": 620,
        "wires": []
    },
    {
        "id": "http-trigger-audit",
        "type": "http in",
        "z": "audio-catalog-flow-tab",
        "name": "POST /api/audio-catalog/audit/run",
        "url": "/api/audio-catalog/audit/run",
        "method": "post",
        "upload": false,
        "x": 210,
        "y": 680,
        "wires": [["run-audit-exec"]]
    },
    {
        "id": "audit-error-handler",
        "type": "debug",
        "z": "audio-catalog-flow-tab",
        "name": "Audit Errors",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 630,
        "y": 180,
        "wires": []
    },
    {
        "id": "audit-exit-code",
        "type": "debug",
        "z": "audio-catalog-flow-tab",
        "name": "Exit Code",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "x": 620,
        "y": 220,
        "wires": []
    }
]
